.loginForm {
  position: fixed;
  left: 35vw;
  top: 25vh;
  border: 1px solid transparent;
  box-shadow: 0 0 10px 0 rgba(181, 137, 255, 0.5),
    0 8px 16px -8px rgba(61, 47, 84, 0.5);
  border-radius: 20px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginForm p {
  color: rgb(61, 47, 84);
  font-weight: bold;
  font-size: 30px;
  margin-top: -10px;
}

.loginForm input {
  font-size: 14px;
  padding: 5px;
  width: 200px;
  text-align: center;
  border: 1px solid rgba(181, 137, 255, 0.5);
  border-radius: 5px;
  margin: 5px;
}

.loginForm .btnLogin {
  width: 220px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: rgb(181, 137, 255);
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}
.loginForm .btnLogin:hover {
  background-color: rgba(61, 47, 84);
  border: 1px solid transparent;
  cursor: pointer;
}

.loginForm .btnRegi {
  width: 220px;
  height: 28px;
  border: 1px solid rgb(181, 137, 255);
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
}
.loginForm .btnRegi:hover {
  background-color: rgba(61, 47, 84);
  color: #fff;
  cursor: pointer;
}
