.movies .movie {
  margin-left: 20px;
  margin-top: 50px;
  background-color: #fff;
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #9478a8;
  box-shadow: 0 0 10px 0 rgba(181, 137, 255, 0.5),
    0 8px 16px -8px rgba(61, 47, 84, 0.5);
  text-align: center;
}

.movies .movie:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}

/* .movie a {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
} */

.movie img {
  position: relative;
  z-index: 0;
  top: -40px;
  max-width: 200px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(61, 47, 84, 0.3),
    0 18px 36px -18px rgba(61, 47, 84, 0.25);
}

.movie .movie_title,
.movie .movie__year {
  margin: 0;
  font-weight: 300;
}

.movie .movie_title {
  margin-bottom: 5px;
  font-size: 24px;
  color: rgb(54, 19, 115);
}

.movie .movie_genre {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  justify-content: center;
}

.movie_genre li,
.movie .movie_year {
  margin-right: 10px;
  font-size: 14px;
  color: rgb(54, 19, 115);
}
